{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container" style="align-content: center; width: 50%;">
        <div class="card-header">
            <h1>Register</h1>
        </div>
        <div class="card-body">
    {{ form(registrationForm) }}
        </div>
    </div>
{% endblock %}
